/* 소형 썸네일 리스트 (공통) */
.player_thumb_wrap__xrIsm .player_thumb__7PN7R {
  width: 152px !important;
  height: 85.5px !important;
}

/* 닉네임 글씨 (공통) */
.player_nickName__DR1ow {
  font-size: 16px !important;
  margin-bottom: 6px !important;
}

/* 참여자 수 (로그인) */
.player_info_wrap__AMxVB > span {
  font-size: 14px !important;
  width: 45px;
}

/* 참여자 수 (비로그인) */
.player_cate__fEXDX {
  font-size: 14px !important;
  width: 45px;
}

/* 호버 여백 */
.player_thumb_list__hVv7Z {
  overflow: visible !important;
  box-sizing: border-box;
}